body {
  margin: 0;
  padding: 0;
  font-family: "system-ui";
  background-color: #f2f2f2;
}

.parallax-completo {
  width: 100%;
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.664) 100%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../img/idi2o.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Añade esta línea para que los elementos se posicionen uno debajo del otro */
  text-align: center; /* Añade esta línea para centrar el texto */
}


.anuncio-container {
  z-index: 1;
  background-color: rgb(175, 175, 175);
  width: 80vw;
  height: 1000000px; 
  margin: 30px;
  display: flex;
  overflow: hidden;
  transform: perspective(1000px) rotateX(20deg);
}

.contenedor-imagen {
  flex: 3;
  max-width: 100%;
}

.contenedor-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor-contenido {
  flex: 7; /* Cambiado de 6 a 7 para dar más espacio al contenido */
  padding: 10px;
  display: flex;
  flex-direction: column; /* Para que los elementos se apilen verticalmente */
}

.contenedor-contenido h2 {
  margin-bottom: -10px; 
  font-family:'Courier New', Courier, monospace;
  text-align: left; /* Alineación del texto a la izquierda */
} 
.contenedor-contenido h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left; /* Alineación del texto a la izquierda */
  color: red;
}

.contenedor-contenido p {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 10px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.contenedor-fecha {
  flex: 1.5;
  display: flex;
  justify-content: flex-end;
}

.contenedor-fecha h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: green;
  padding: 10px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .anuncio-container {
    width: 95vw; /* Ancho del 95% del viewport */
    height: auto; /* Altura automática */
    margin: 15px 0; /* Margen superior e inferior reducido */
  }

  .contenedor-imagen {
    flex: 1; /* Ocupar todo el espacio disponible */
  }

  .contenedor-contenido {
    flex: 2; /* Ocupar más espacio que la fecha */
    padding: 5px; /* Padding reducido */
    border-top: none; /* Eliminar borde superior */
  }

  .contenedor-fecha {
    flex: 1; /* Ocupar menos espacio que el contenido */
  }

  /* Reducir el tamaño de todos los textos */
  .contenedor-contenido h2,
  .contenedor-contenido h3,
  .contenedor-contenido h4,
  .contenedor-contenido p,
  .contenedor-fecha h3 {
    font-size: 12px; /* Tamaño de fuente reducido */
    margin: 5px 0; /* Margen superior e inferior reducido */
  }

  .parallax-completo {
    background-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.664) 100%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../img/idi2_OLD.jpeg");
  }
}

@media (max-height: 1080px) and (max-width: 1920px) {
  .parallax-completo {
    height: 100vh;
  }
}
